In [1]:
import os
import sys
import pandas as pd

In [2]:
sys.path.append(os.path.abspath("../utils"))

In [3]:
# Importing "scrape_car_listing" and "get_car_details" function from web_scraping module
from web_scraping import scrape_car_listing, get_car_details, get_engine_capacity

In [7]:
# Parsing HTML Content of Hyderabad City from Cars24 Website
soup = scrape_car_listing('https://www.cars24.com/buy-used-cars-hyderabad/')

In [8]:
# Extracting and Saving Car Details of Hyderabad City into a DataFrame
hyderabad = get_car_details(soup)

[Skip one card due to error] HTTPSConnectionPool(host='www.cars24.com', port=443): Read timed out. (read timeout=4)

In [9]:
hyderabad.head()

,model_name,km_driven,fuel_type,transmission,owner,engine_capacity,price,link
0,2013 Hyundai Eon,46.61k km,Petrol,Manual,3rd,814cc,₹1.76 lakh,https://www.cars24.com/buy-used-hyundai-eon-20...
1,2014 Maruti Alto 800,72.11k km,Petrol,Manual,2nd,796cc,₹2.12 lakh,https://www.cars24.com/buy-used-maruti-alto-80...
2,2015 Maruti Wagon R 1.0,44.48k km,Petrol,Manual,1st,998cc,₹3.37 lakh,https://www.cars24.com/buy-used-maruti-wagon-r...
3,2018 Tata Tiago,75.34k km,Petrol,None,1st,1199cc,₹4.46 lakh,https://www.cars24.com/buy-used-tata-tiago-201...
4,2012 Hyundai i20,69.74k km,Petrol,Manual,2nd,1197cc,₹2.63 lakh,https://www.cars24.com/buy-used-hyundai-i20-20...

In [10]:
# Parsing HTML Content of Bangalore City from Cars24 Website
soup = scrape_car_listing('https://www.cars24.com/buy-used-cars-bangalore/')

In [11]:
# Extracting and Saving Car Details of Bangalore City into a DataFrame
bangalore = get_car_details(soup)

In [12]:
bangalore.head()

,model_name,km_driven,fuel_type,transmission,owner,engine_capacity,price,link
0,2015 Maruti Celerio,54.36k km,Petrol,None,2nd,998cc,₹3.97 lakh,https://www.cars24.com/buy-used-maruti-celerio...
1,2016 Renault Kwid,24.98k km,Petrol,Manual,1st,799cc,₹2.91 lakh,https://www.cars24.com/buy-used-renault-kwid-2...
2,2016 Maruti Baleno,32.56k km,Petrol,Manual,1st,1197cc,₹5.76 lakh,https://www.cars24.com/buy-used-maruti-baleno-...
3,2017 Hyundai Elite i20,78.42k km,Petrol,Manual,1st,1197cc,₹5.65 lakh,https://www.cars24.com/buy-used-hyundai-elite-...
4,2017 Hyundai Grand i10,36.07k km,Petrol,Manual,1st,1197cc,₹5.32 lakh,https://www.cars24.com/buy-used-hyundai-grand-...

In [13]:
# Parsing HTML Content of Mumbai City from Cars24 Website
soup = scrape_car_listing('https://www.cars24.com/buy-used-cars-mumbai/')

In [14]:
# Extracting and Saving Car Details of Mumbai City into a DataFrame
mumbai = get_car_details(soup)

In [15]:
mumbai.head()

,model_name,km_driven,fuel_type,transmission,owner,engine_capacity,price,link
0,2012 Hyundai i20,76.65k km,Petrol,Manual,2nd,None,₹2.46 lakh,https://www.cars24.com/buy-used-hyundai-i20-20...
1,2019 Maruti Swift,41.55k km,Petrol,None,1st,1197cc,₹5.30 lakh,https://www.cars24.com/buy-used-maruti-swift-2...
2,2014 Honda Brio,28.41k km,Petrol,Manual,1st,1198cc,₹3.01 lakh,https://www.cars24.com/buy-used-honda-brio-201...
3,2015 Ford Ecosport,53.90k km,Petrol,Manual,1st,1499cc,₹3.97 lakh,https://www.cars24.com/buy-used-ford-ecosport-...
4,2021 Renault TRIBER,61.67k km,Petrol,None,1st,999cc,₹4.65 lakh,https://www.cars24.com/buy-used-renault-triber...

In [16]:
# Parsing HTML Content of Delhi City from Cars24 Website
soup = scrape_car_listing('https://www.cars24.com/buy-used-cars-delhi-ncr/')

In [17]:
# Extracting and Saving Car Details of Delhi City into a DataFrame
delhi = get_car_details(soup)

In [18]:
delhi.head()

,model_name,km_driven,fuel_type,transmission,owner,engine_capacity,price,link
0,2019 Tata Harrier,1.1L km,Diesel,Manual,1st,1956cc,₹7.15 lakh,https://www.cars24.com/buy-used-tata-harrier-2...
1,2023 Tata PUNCH,25.99k km,Petrol,Manual,1st,1199cc,₹5.14 lakh,https://www.cars24.com/buy-used-tata-punch-202...
2,2016 Renault Kwid,56.05k km,Petrol,Manual,1st,799cc,₹1.80 lakh,https://www.cars24.com/buy-used-renault-kwid-2...
3,2024 Maruti Swift,12.62k km,CNG,Manual,1st,1197cc,₹6.94 lakh,https://www.cars24.com/buy-used-maruti-swift-2...
4,2022 Maruti BREZZA,30.48k km,Petrol,Manual,1st,1462cc,₹7.11 lakh,https://www.cars24.com/buy-used-maruti-brezza-...

In [19]:
# Concatenating Car Details of Different Cities into Single DataFrame
df = pd.concat([hyderabad, bangalore, mumbai, delhi], ignore_index=True)
df.head()

,model_name,km_driven,fuel_type,transmission,owner,engine_capacity,price,link
0,2013 Hyundai Eon,46.61k km,Petrol,Manual,3rd,814cc,₹1.76 lakh,https://www.cars24.com/buy-used-hyundai-eon-20...
1,2014 Maruti Alto 800,72.11k km,Petrol,Manual,2nd,796cc,₹2.12 lakh,https://www.cars24.com/buy-used-maruti-alto-80...
2,2015 Maruti Wagon R 1.0,44.48k km,Petrol,Manual,1st,998cc,₹3.37 lakh,https://www.cars24.com/buy-used-maruti-wagon-r...
3,2018 Tata Tiago,75.34k km,Petrol,None,1st,1199cc,₹4.46 lakh,https://www.cars24.com/buy-used-tata-tiago-201...
4,2012 Hyundai i20,69.74k km,Petrol,Manual,2nd,1197cc,₹2.63 lakh,https://www.cars24.com/buy-used-hyundai-i20-20...

In [4]:
# Importing "get_engine_capacity" function from web_scraping module
from web_scraping import get_engine_capacity

In [20]:
# Extracting engine capacity of each car using its car listing link of Cars24 Website
engine_capacity = get_engine_capacity(df['link'])

In [21]:
# Adding "engine_capacity" column in the DataFrame
df['engine_capacity'] = engine_capacity

In [22]:
df.head()

,model_name,km_driven,fuel_type,transmission,owner,engine_capacity,price,link
0,2013 Hyundai Eon,46.61k km,Petrol,Manual,3rd,814cc,₹1.76 lakh,https://www.cars24.com/buy-used-hyundai-eon-20...
1,2014 Maruti Alto 800,72.11k km,Petrol,Manual,2nd,796cc,₹2.12 lakh,https://www.cars24.com/buy-used-maruti-alto-80...
2,2015 Maruti Wagon R 1.0,44.48k km,Petrol,Manual,1st,998cc,₹3.37 lakh,https://www.cars24.com/buy-used-maruti-wagon-r...
3,2018 Tata Tiago,75.34k km,Petrol,None,1st,1199cc,₹4.46 lakh,https://www.cars24.com/buy-used-tata-tiago-201...
4,2012 Hyundai i20,69.74k km,Petrol,Manual,2nd,1197cc,₹2.63 lakh,https://www.cars24.com/buy-used-hyundai-i20-20...


### Exporting Final DataFrame as CSV File

---

In [23]:
# Importing "export_as_csv" function from export_data module
from export_data import export_as_csv

In [24]:
# Exporting Final DataFrame as CSV File
export_as_csv(df, 'scrape_data', 'scrape_data.csv')

Successfully exported the DataFrame as 'scrape_data.csv'